.navbar {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}
#img-nav {
    width: 200px;
    height: 50px;
    border-radius: 30%;
    cursor: pointer;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    cursor: pointer;
}
.navbar ul li {
    padding-left: 50px;
    font-size: large;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.navbar:hover {
    background-color: burlywood;
    color: antiquewhite;
}
.navbar li:active {
    color: red;
}
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: flex-start;
        padding: 10px;
    }
    #img-nav {
        width: 150px;
        height: 40px;
    }
    .navbar ul {
        flex-direction: column;
    }
    .navbar ul li {
        padding-left: 0;
        padding: 5px 0;
        font-size: medium; 
    }
}

.banner {
    margin-top: 5px;
    height: 700px;
    width: 100%;
    background-image: url("assets/images/Banner-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-div {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    font-size: large;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.btn-banner {
    cursor: pointer;
    padding: 15px;
    background-color: black;
    color: red;
    border: none;
    border-radius: 5%;
    font-weight: 500;
}
.btn-banner:hover {
    color: black;
    background-color: burlywood;
}
 
@media only screen and (max-width: 768px) {
    .banner{
        height: auto;
        width: auto;
        padding: 25px;
    }    
}

.destination {
    margin: 0;
    background-color: rgb(204, 204, 243);
    margin-top: 5px;
    padding: 20px;
    padding-top: 50px;
}
#h1 {
    font-weight: 600;
    text-align: center;
    color: red;
}
.destination-div {
    width: 600px;
    height: 400px;
    background-color: rgb(212, 207, 201);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
.destination-div button {
    cursor: pointer;
    background-color:aqua ;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.destination-div button:hover{
    background-color: black;
    color: aqua;
}
.destination-div:hover {
    background-color:rgb(242, 255, 196) ;
    cursor: pointer;
}
#dest {
    display: flex;
    margin: 50px;
    justify-content: space-between;
    align-items: center;
}
#div1 {
    margin-left: 400px;
}
@media only screen and (max-width: 786px) {
    .destination{
        padding: 10px;
    }
    .destination-div{
        width: 400px;
        height: 400px;
        margin-top: 5px;
    }
    #dest {
        display: block;
        justify-content: flex-start;
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #div1{
        margin-left: 0;
        margin-top: 5px;
    }
}


.footer {
    margin: 0;
    background-color: rgb(11, 11, 129);
    color: white;
    padding: 50px;
    display: flex;
    gap: 50px;
    margin-top: 5px;
}
.footer ul {
    list-style-type: none;
}
.footer ul li {
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}